@model List<IGrouping<string,Agendamento>>


<table id="myDataTable" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Tipo Carga</th>
        </tr>
    </thead>
      

<tbody>
@foreach (var item in Model)
{
    
    <tr>
        
        <td><i id=@("seta" + item.Key) class="fas fa-angle-right"  onclick="abrirAgendamentos('@Html.DisplayFor(modelItem => item.Key)')" /></td>
        <td>@Html.DisplayFor(modelItem => item.Key)</td>

    </tr>
    <tr id="@item.Key" style="display:none">
        <td></td>
        <td>
           <table class="table table-striped table-bordered nowrap" style="width:100%">
                  <thead>
            <th>Data</th>
            <th>Tipo Agendamento</th>
            <th>Horario</th>
            <th>Tipo Transporte</th>
            <th>Quantidade</th>
        </thead>
        <tbody>
          @foreach (var agendamento in item)
    {
        <tr>
            <td>@Html.DisplayFor(m => agendamento.DataAgendameto)</td>
            <td>@Html.DisplayFor(m => agendamento.TipoAgendamento.Descricao)</td>
            <td>@Html.DisplayFor(m => agendamento.Horario.Periodo)</td>
            <td>@Html.DisplayFor(m => agendamento.TipoTransporte.Tipo)</td>
            <td>@Html.DisplayFor(m => agendamento.QuantidadeAgendada)</td>

        </tr>
        

    }
    </tbody>
    </table>

        </td>
    </tr>
    
}
</tbody>
</table>