@model IEnumerable<Agendamento>

<a asp-action="Inserir" class="btn btn-primary fas fa-plus">Novo Agendamento</a>
<br />
<br />




                            <table id="myDataTable" class="table table-striped table-bordered nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Data</th>
                                        <th>Tipo Agendamento</th>
                                        <th>Horario</th>
                                        <th>Tipo Transporte</th>
                                        <th>Tipo Carga</th>
                                        <th>Quantidade</th>
                                        <th></th>
                                    </tr>
                                </thead>


                    <tbody id="bodyDados">
                        @foreach (var item in Model)
        {
                                <tr>
                                    <td>
                    @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        
                    @Html.DisplayFor(modelItem => item.DataAgendameto)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.TipoAgendamento.Descricao)</td>
                                    <td>
                    @Html.DisplayFor(modelItem => item.Horario.Periodo)
                                    </td>
                                    <td>
                    @Html.DisplayFor(modelItem => item.TipoTransporte.Tipo)
                                    </td>
                                    <td>
                    @Html.DisplayFor(modelItem => item.TipoCarga.Carga)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QuantidadeAgendada)
                                    </td>
                                    <td>
                                        <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                                        <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                                    </td>
                                </tr>
        }
                    </tbody>

                </table>